{% extends 'Base/base.html.twig' %}



{% block content %}
    <h1>Photos</h1>

    {% for medium in media %}

        <div class="columns">
            <figure>
                <img src="{{ asset('img/peinture') }}/{{ medium.name }}" class="img-resp" alt="{{ medium.title }}">
                <figcaption>{{ medium.title }}</figcaption>
            </figure>
        </div>

        <a href="{{ path('media_show', {'id': medium.id}) }}">Voir la photo</a>

    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
    {% endfor %}

    <a href="{{ path('media_new') }}">Ajouter une image</a>
{% endblock content %}
