


{% block body %}
    <h1>Modifications images</h1>

    {% for medium in media %}
        <tr>
            <td>{{ medium.id }}</td>
            <td>
                <figure>
                    <img src="{{ asset('img/peinture') }}/{{ medium.name }}" width="400px" alt="{{ medium.title }}">
                    <figcaption>{{ medium.title }}</figcaption>
                </figure>
            </td>
            <td>{{ medium.title }}</td>
            <td>
                <a href="{{ path('media_show', {'id': medium.id}) }}">show</a>
                <a href="{{ path('media_edit', {'id': medium.id}) }}">edit</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
    {% endfor %}

{% endblock body %}


