{% extends "Base/base.html.twig" %}

{% block content %}

    {% for message in app.flashes ('message') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <h2 class="row justify-content-center">Nous contacter</h2>

    <div id="contactForm" class="pt-5">
        {{ form_start(contactForm) }}
            <div class="pt-4">{{ form_row(contactForm.lastname) }}</div>
            <div class="pt-4">{{ form_row(contactForm.firstname) }}</div>
            <div class="pt-4">{{ form_row(contactForm.email) }}</div>
            <div class="pt-4">{{ form_row(contactForm.phone) }}</div>
            <div class="pt-4">{{ form_row(contactForm.adress) }}</div>
            <div class="pt-4">{{ form_row(contactForm.content) }}</div>
            <div class="pt-4">{{ form_row(contactForm.submit) }}</div>
        {{ form_end(contactForm) }}
    </div>

{% endblock content %}