{% extends "Base/base.html.twig" %}

{% block content %}

    {% for message in app.flashes ('message') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <h2 class="row justify-content-center">Nous contacter</h2>

    <div id="contactForm" class="pt-5">
        {{ form_start(contactForm) }}
            <div>{{ form_label(contactForm.lastname) }}</div>
            <div>{{ form_widget(contactForm.lastname, {'attr' : {'class' : 'widget_contact'}}) }}</div>

            <div class="pt-4">{{ form_label(contactForm.firstname) }}</div>
            <div>{{ form_widget(contactForm.firstname, {'attr' : {'class' : 'widget_contact'}}) }}</div>

            <div class="pt-4">{{ form_label(contactForm.email) }}</div>
            <div>{{ form_widget(contactForm.email, {'attr' : {'class' : 'widget_contact'}}) }}</div>

            <div class="pt-4">{{ form_label(contactForm.phone) }}</div>
            <div>{{ form_widget(contactForm.phone, {'attr' : {'class' : 'widget_contact'}}) }}</div>

            <div class="pt-4">{{ form_label(contactForm.adress) }}</div>
            <div>{{ form_widget(contactForm.adress, {'attr' : {'class' : 'widget_contact'}}) }}</div>

            <div class="pt-4">{{ form_label(contactForm.content) }}</div>
            <div>{{ form_widget(contactForm.content, {'attr' : {'class' : 'widget_contact'}}) }}</div>

            <div class="Wsub">{{ form_widget(contactForm.submit, {'attr' : {'class' : 'widget_submit'}}) }}</div>
        {{ form_end(contactForm) }}
    </div>

{% endblock content %}