{% extends 'Base/base.html.twig' %}

{% block MetaDescription %}<meta name="description" content="Page de contenu de photos">{% endblock MetaDescription %}

{% block title %}<title>Réalisations</title>{% endblock title %}

{% block content %}
<h1 class="text-center pt-5">Mes réalisations</h1>

    <div class="flex-container img-resp">
{% for medium in media %}

    <div>
        <a data-fancybox="gallery" href="{{ asset('img/peinture') }}/{{ medium.name }}"  alt="{{ medium.title }}">
            <img src="{{ asset('img/peinture') }}/{{ medium.name }}"  alt="{{ medium.title }}"></a>
            <p>{{ medium.title }}</p>
    </div>

{% endfor %}
    </div>
{% endblock content %}