<div class="container-fluid form">
    {{ form_start(form) }}

        {{ form_row(form.name, {'attr': {'class': 'name'}}) }}

        {{ form_row(form.title) }}

        <button type="submit" class="btn btn-primary mt-4">{{ button_label|default('Sauvegarder') }}</button>

    {{ form_end(form) }}
</div>


