<!DOCTYPE html>

<title>Media</title>

{% block content %}
    <h1>Media</h1>

    <figure>
        <img src="{{ asset('img/peinture') }}/{{ medium.name }}" class="img-resp" alt="{{ medium.title }}">
        <figcaption>{{ medium.title }}</figcaption>
    </figure>

    <a href="{{ path('media_index') }}">Retour vers les photos</a>

    <a href="{{ path('media_edit', {'id': medium.id}) }}">Éditer la photo</a>

    {{ include('admin/_delete_form.html.twig') }}

{% endblock content %}
