<h1>Nouveau contact</h1>

<p>Nom : {{ contact.lastname }}</p>
<p>Prénom : {{ contact.firstname }}</p>
<p>E-mail : {{ contact.email }}</p>
<p>Téléphone : {{ contact.phone }}</p>
<p>Adresse : {{ contact.adress }}</p>
<p>Message : {{ contact.content|raw }}</p>